body, html {
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

.action {
	font-weight: 700;
	color: black;
}

.feature {
	font-style: oblique;
}

#tip .modal-dialog {
	color: #333333;
	font-size: 18px;
	line-height: 2;
	margin-top: 100px;
}

#tip ul {
	list-style-type: square;
}
	
#tipClose {
	text-align: center;
}

#tipClose button, #addBackgroundSubmit {
	background-color: #333333;
	color: #f5f5f5;
	border-color: #f5f5f5;
}

#main {
	/*height: 100%;
	width: 100%;*/
	overflow: hidden !important;
	position: relative;
}

#backgroundImg {
	height: 100%;
	z-index: -1;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	position: relative !important;
}

#main img {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 0;
}

#tools {
	width: 200px;
	padding: 10px;
	height: 70%;
	position: fixed;
	top: -70%;
	right: 20px;
	text-align: center;
	overflow: hidden;
	background: rgba(51, 51, 51, 0.9);
	border: 1px solid black;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

#background {
	background-color: #f5f5f5;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#addBackgroundModal .modal-dialog {
	margin-top: 100px;
}

#addBackgroundModal .form-group {
	width: 100%;
}

#addBackgroundSubmit {
	width: 46px;
	float: right;
}

#addBackgroundUrl {
	width: 516px;
	float: left;
}

#newBackgroundImg {
	display: none;
}

#addBackgroundAlert {
	display: none;
	margin-top: 10px;
	margin-bottom: 0 !important;
}

#animalsWrapper1 {
	width: 178px;
	height: 100%;
	overflow: hidden;
}

#animalsWrapper2 {
	width: 198px;
	height: 100%;
	overflow: auto;
	padding-right: 15px;
}

#animals {
	background-color: black;
	width: 178px;
	top: 56px;
	bottom: 10px;
	position: absolute;
	/*min-height: 184px;*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 15px;
	padding: 6px;
	overflow: hidden;
}

#animals img {
	width: 79px;
	padding: 10px;
	margin: 2px;
	background: rgba(245, 245, 245, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float: left;
	position: relative;
}

#animals img:last-child:after {
	content: '';
	display: block;
	clear: both;
}

#toolsHeader {
	/*position: absolute;*/
	position: fixed;
	top: 0;
	right: 50px;
	padding: 5px 15px;
	background-color: #333333;
	color: #f5f5f5;
	border: 1px solid #f5f5f5;
	border-top: none;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
}

#toolsHeader span {
	margin-left: 4px;
}

#screenshot {
	background-color: #f5f5f5;
	/*position: absolute;*/
	position: fixed;
	top: 0;
	right: 140px;
	padding: 5px 15px;
	border-top: none;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
}

#screenshot img {
	width: 20px;
	height: 20px;
}

#screenshotTaken .modal-body canvas{
	max-width: 100%;
}
